<footer class="page-footer grey darken-3">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12 ">
                <h5 class="white-text">Thanks for Choosing Us!</h5>
                <p class="grey-text text-lighten-4">Reach out for catering your next evet.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="tel:248-348-3333">248-348-3333</a></li>
                    <li><a class="grey-text text-lighten-3"
                            href="https://www.google.com/maps/place/Pizza+Cutter/@42.434298,-83.483026,15z/data=!4m5!3m4!1s0x0:0x4f93ed52ed0b319a!8m2!3d42.434298!4d-83.483026">340
                            N. Center St Northville, MI</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2021 PIZZA CUTTER PIZZA, LLC.
        </div>
    </div>
</footer>