<nav class="nav_bar">

    <i class="large material-icons sidenav-trigger" data-target="slide-out">dehaze</i>

    <a href="#!" class="brand-logo center"> PIZZA CUTTER</a>

    <a href="/pizzacutter/login" class="right brand-logo"><i class="material-icons">shopping_cart</i></a>

    <ul id="slide-out" class="sidenav">
        <li>
            <a href="/pizzacutter">
                <i class="material-icons">home</i>Home</a>
        </li>

        <li>
            <a href="/pizzacutter/menu">
                <i class="material-icons">restaurant_menu</i>Menu</a>
        </li>

        <li>
            <a href="/pizzacutter/about">
            <i class="material-icons">local_fire_department</i>About</a>
        </li>

        <li>
            <a href="/pizzacutter/catering">
           <i class="material-icons">local_pizza</i>Catering</a>
        </li>

        <li>
            <a href="/pizzacutter/careers">
           <i class="material-icons">person_search</i> Careers</a>
        </li>
        <li>
            <a href="/pizzacutter/contact">
            <i class="material-icons">contact_page</i>Contact Us</a>
        </li>
        <li>
            <a href="/pizzacutter/login">
                <i class="material-icons">face</i>Login</a>
        </li>

    </ul>

</nav>