<nav class= "nav_bar">

    <i class="large material-icons sidenav-trigger" data-target="slide-out">dehaze</i>

   
    {{!-- <p>Serving up local pizzas since 1978!</p> --}}
    

    <a href="#" class="brand-logo">
        {{!-- <p>Serving up local pizzas since 1978!</p> --}}
    </a>

    <ul id="slide-out" class="sidenav">
        <li>
            <a href="#">
                <i class="material-icons">local_pizza</i>Home</a>
        </li>
        <li>
            <a href="pizzacutter/catering">Catering</a>
        </li>
        <li>
            <a href="pizzacutter/about">About</a>
        </li>
         <li>
            <a href="pizzacutter/menu">Menu</a>
        </li>
        <li>
            <a href="pizzacutter/careers">Careers</a>
        </li>
        <li>
            <a href="pizzacutter/contact">Contact Us</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>

    </ul>

</nav>