<nav class= "nav_bar">

    <i class="large material-icons sidenav-trigger" data-target="slide-out">dehaze</i>

   
    {{!-- <p>Serving up local pizzas since 1978!</p> --}}
    
    {{!Test Logo}}
    
    <a href="#!" class="brand-logo center">

    <img src="https://lh3.googleusercontent.com/d/1Ejw2-JiqKaznVt1gwFsI9EWh7NQeJM5u?authuser=0" class="responsive-img logo-img" height="auto"> 
       <h2>Pizza Cutter</h2> 
        {{!-- <p>Serving up local pizzas since 1978!</p> --}}
    </a>
   

     <a href="#!" class="right brand-logo"><i class="material-icons">shopping_cart</i></a>

     

    <ul id="slide-out" class="sidenav">
        <li>
            <a href="#">
                <i class="material-icons">local_pizza</i>Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
         <li>
            <a href="/menu">Menu</a>
        </li>
        <li>
            <a href="/catering">Catering</a>
        </li>
        <li>
            <a href="/careers">Careers</a>
        </li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>

    </ul>

</nav>