<nav class="nav_bar">

    <i class="large material-icons sidenav-trigger" data-target="slide-out">dehaze</i>

    <a href="#!" class="brand-logo center">

        <a href="#!" class="right brand-logo"><i class="material-icons">shopping_cart</i></a>

        <ul id="slide-out" class="sidenav">
            <li>
                <a href="/pizzacutter/">
                    <i class="material-icons">local_pizza</i>Home</a>
            </li>
            <li>
                <a href="/pizzacutter/about">About</a>
            </li>
            <li>
                <a href="/pizzacutter/menu">Menu</a>
            </li>
            <li>
                <a href="/pizzacutter/catering">Catering</a>
            </li>
            <li>
                <a href="/pizzacutter/careers">Careers</a>
            </li>
            <li>
                <a href="/pizzacutter/contact">Contact Us</a>
            </li>
            <li>
                <a href="/pizzacutter/login">Login</a>
            </li>

        </ul>

</nav>