{{!-- About Us --}}

<body class="pages-style">
    {{> customer-nav }}

    <h1 class="title">Our Story</h1>
    <div class="divider"></div>

    <section class="about-section">
        <div class="row">

            <div class="row">
                <div class="col s9">
                    <p>In October of 2016, Pizza Cutter was handed off to Jack Mastantuono, another ambitious 22-
                        year-old in Northville, who started as a delivery driver the summer after his senior year of
                        high
                        school. After four years working in the shop and getting his degree from MSU, Jack bought
                        Pizza Cutter. Jim retired from the store in 2017 after having made an estimated 2.5 million
                        pizzas (his calculations).</p>
                    <div class="divider red"></div>
                </div>
                <div class="col s3">
                    <img class="materialboxed" width="300" src="/images/jack-2.jpeg">
                </div>

            </div>
            <div class="col s3">
                <img class="materialboxed" width="300" src="/images/jack-jim-2.jpg" id="jack-jim-img">
            </div>
            <div class="col s9">
                <p id="adjust-about-p">Pizza Cutter was founded on December 1st, 1978 by Jim DeLano, a then 22-year-old
                    Farmington resident and pizza enthusiast. Jim opened Pizza Cutter in a small, refurbished gas
                    station originally built in 1917, leading to our store’s original name: Northville Station. After a
                    couple years we officially became “Pizza Cutter,” and we still use Jim’s original recipes today.
                </p>
                <div class="divider red"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s9">
                <p>For 39 years, we have been a proud local business located on Center Street and
                    Rayson,
                    leading right into the heart of downtown Northville. We’ve watched 39 homecoming parades, 29
                    Victorian/Heritage Festivals, and hosted 26 years of Amerman kindergarten tours, and we have
                    loved every minute of it. Stop on in; you’re always welcome at Pizza Cutter!</p>
                <div class="divider red"></div>
            </div>
            <div class="col s3">
                <img class="materialboxed" width="300" src="/images/jack.jpeg">
            </div>
        </div>
    </section>

    {{> customer-footer }}
</body>