{{> customer-nav }}

<div class="container">

    <h1 class="title center">Careers</h1>
    <h2 class="center">Join the Pizza Cutter family!</h2>

    <h3>TO APPLY:</h3>

    <p>Email your resume to jack.pizzacutter@gmail.com.

        Please include a brief description of your availability
        (specifically evenings from 4PM-10PM).</p>

    {{! Here we will render our up-to-date job listings, maybe with Indeed?}}

    How to Apply

    Linked In Positions

</div>

{{> customer-footer }}