{{!-- careers pages --}}
{{> customer-nav }}

<div class="container">

    <h1 class="title center">Careers</h1>
    <h2 class="center">Join the Pizza Cutter family!</h2>

    {{! Here we will render our up-to-date job listings, maybe with Indeed?}}


    <ul class="collapsible center">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>How to Apply</div>
            <div class="collapsible-body">
                <span>

                    <h2>TO APPLY:</h2>

                    <p>Email your resume to jack.pizzacutter@gmail.com. Please include a brief description of your
                        availability (specifically evenings from 4PM-10PM).</p>

                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Job Descriptions</div>
            <div class="collapsible-body">

                <span>

                    <h2>Manager/Pizza Maker:</h2>

                    <p>Responsible for making pizza, completing various prep tasks, and managing staff of 2-4 in-shop
                        employees (dependent on shift). This position averages between 25-30 hours a week. Must be
                        available nights and weekends.</p>

                    <h3>Requirements:</h3>
                    <ul>
                        <li>Minimum 1 year of food (cooking) experience (pizza experience welcome but not required)</li>
                        <li>-Ability to work well in a fast-paced environment</li>
                        <li>-Local or semi-local to the Northville area</li>
                        <li>-Confidence in delegating tasks and managing time</li>
                        <li>-Local or semi-local to the Northville area</li>
                        <li>-18 years of age or older</li>
                    </ul>

                    <h2>Delivery Driver:</h2>

                    <p>Responsible for delivering pizzas as quickly (and safely) as possible during night shifts. Other responsibilities include various prep tasks, cleaning tasks, and in-shop duties. This position averages around 18 hours a week (3 shifts).</p>

                    <h3>Requirements:</h3>
                    <ul>
                        <li>-Consistency and reliability in scheduling/availability</li>
                        <li>-Must have a well-operating vehicle and valid driver’s license</li>
                        <li>-Ability to handle stress and manage time well</li>
                        <li>-18 years of age or older</li>
                    </ul>

                </span>

            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>View on LinkedIn</div>
            <div class="collapsible-body"><span></span></div>
        </li>
    </ul>


</div>

{{> customer-footer }}