{{> customer-nav }}

<h1 class="title">Careers</h1>

{{!Testing}}

<h2>TO APPLY:</h2>

<p>Email your resume to jack.pizzacutter@gmail.com. Please include a brief description of your availability
    (specifically evenings from 4PM-10PM).</p>

{{! Here we will render our up-to-date job listings, hopefully via Indeed}}


{{> customer-footer }}