<h1>{{{}}</h1>

<h2>Pizza Cutter has many catering options, including salads and pasta trays. We offer a special discount for customers purchasing 10+ pizzas. Call and speak to a manager to order today!</h2>

{{!Here's we add the menu category buttons}}
<a class="waves-effect waves-light btn-large">All Pizza</a>

<a class="waves-effect waves-light btn-large">Submarines</a>

<a class="waves-effect waves-light btn-large">Salads</a>

<a class="waves-effect waves-light btn-large">Pasta</a>

<a class="waves-effect waves-light btn-large">Wings</a>

<a class="waves-effect waves-light btn-large">Stix</a>
