{{!-- login --}}
{{> customer-nav }}

<body class="pages-style">
    <h1 class="title">Login</h1>

    <div id="login-page" class="row">
        <form class="login-form">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">mail_outline</i>
                    <input class="validate input-field" id="username" type="text">
                    <label for="username" data-error="wrong" data-success="right">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" type="password">
                    <label for="password">Password</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light red" id="login-btn">Login</button>

                    {{!-- <div class="row">
                        <div class="input-field col s6">
                            <button class="btn waves-effect waves-light red col s12">Login</button>
                        </div>
                    </div> --}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    {{!-- <p class="margin medium-small"><a href="#" class="login-link">Register Now!</a></p> --}}
                </div>
                <div class="input-field col s3">
                    <p class="margin right-align medium-small"><a href="#" class="login-link">Forget
                            password?</a>
                    </p>
                </div>
            </div>
        </form>
    </div>

    {{> customer-footer }}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/login.js"></script>
</body>