{{!Here's we add the menu category buttons to then, display}}


<a class="waves-effect waves-light btn-large">All Pizza</a>

<a class="waves-effect waves-light btn-large">Submarines</a>

<a class="waves-effect waves-light btn-large">Salads</a>

<a class="waves-effect waves-light btn-large">Pasta</a>

<a class="waves-effect waves-light btn-large">Wings</a>

<a class="waves-effect waves-light btn-large">Stix</a>