{{!-- // comment here --}}

{{> customer-nav }}

<body class="home-customer">
    <div class="row">
        <div id="pizza-img-container1">
            <img src="/images/pizza_left.png" class="pizza" alt="pizza">
            <div style="width:40%"></div>
            <img src="/images/pizza_right.png" class="pizza" alt="pizza">
        </div>

        <div class="col s12" id="home-text">
            <h1>Pizza Cutter</h1>
            <h4>Serving up local pizzas since 1978!</h4>
        </div>
    </div>


    {{!-- <div class="row">
        <div class="col s4 dashboard-grid">
            <div class="delivery-button">
                <a><i class="large material-icons">delivery_dining</i>Delivery</a>
            </div>
        </div>
    </div> --}}

</body>