{{!-- // comment here --}}

{{> customer-nav }}

<body class="home-customer">
    <div class="row">
        <div class="col s2" id="pizza-img-container1">
            <img src="pizza_left.png" id="pizza-left" alt="pizza">
        </div>
        <div class="col s8 pizz-cutter-home">
            <h1>Pizza Cutter</h1>
            <h4>Serving up local pizzas since 1978!</h4>
        </div>
        <div class="col s2" id="pizza-img-container2">
            <img src="pizza_right.png" id="pizza-left" alt="pizza">
        </div>
    </div>

    {{!-- <div class="row">
        <div class="col s4 dashboard-grid">
            <div class="delivery-button">
                <a><i class="large material-icons">delivery_dining</i>Delivery</a>
            </div>
        </div>
    </div> --}}

</body>