<nav>

    <i class="large material-icons sidenav-trigger" data-target="slide-out">dehaze</i>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#user">
                    <img class="circle" src="images/yuna.jpg">
                </a>
                <a href="#name">
                    <span class="white-text name">John Doe</span>
                </a>
                <a href="#email">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>
        <li>
            <a href="#!">
                <i class="material-icons">cloud</i>First Link With Icon</a>
        </li>
        <li>
            <a href="#!">Second Link</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="subheader">Subheader</a>
        </li>
        <li>
            <a class="waves-effect" href="#!">Third Link With Waves</a>
        </li>
    </ul>
</nav>


<h1>Restaurant Owner Dashboard</h1>

<h3>Update products, prices, menu options and more here!</h3>

<div class="col s12 m7">
    <h2 class="header">Product</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>

<div class="col s12 m7">
    <h2 class="header">Price</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m7">
    <h2 class="header">Product Add Ons</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m7">
    <h2 class="header">Food Categories</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m7">
    <h2 class="header">Size</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m7">
    <h2 class="header">Extras
    </h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>