<body class="dashboard">
<<<<<<< HEAD
    <a href='/pizzacutter' class="btn-large waves-effect waves-light red btn tooltipped" data-position="bottom"
        data-tooltip="Exit Dashboard" id="home-button">
        <i class="material-icons large">meeting_room</i>
    </a>

=======
    <a><i id="exit-icon" class="material-icons">exit_to_app</i></a>
>>>>>>> development

    <h1 class="dashboard-header">Pizza Cutter Control Panel</h1>

    <div class="divider"></div>

<<<<<<< HEAD
    <div class="row dashboard-row">
        <div class="col s4 dashboard-grid">
            {{!-- <div class="col s12 m6"> --}}
                <div class="card dashboard-card">
                    <div class="card-image">
                        <img
                            src="https://cdn.dribbble.com/users/1787323/screenshots/13124909/media/ddf0a4541de144226b1dc8e03cc81782.png?compress=1&resize=1000x750">

                        {{!-- <span class="card-title">Menu Items</span> --}}

                        <a href='/pizzacutter/dashboard/product'
                            class="btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </a>
                    </div>

                    <div class="card-content">
                        <p>Menu Items</p>
                    </div>
=======
    <div class="dashboard-row">
        <div class="dashboard-grid">
            <div class="card dashboard-card">
                <div class="card-image">
                    <img
                        src="https://cdn.dribbble.com/users/1787323/screenshots/13124909/media/ddf0a4541de144226b1dc8e03cc81782.png?compress=1&resize=1000x750">
                    {{!-- <span class="card-title">Menu Items</span> --}}
                    <a href='/pizzacutter/dashboard/product'
                        class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Menu Items</p>
>>>>>>> development
                </div>
            </div>
        </div>
        <div class="dashboard-grid">
            <div class="card dashboard-card">
                <div class="card-image">
                    <img
                        src="https://cdn.dribbble.com/users/1787323/screenshots/14807453/media/622bdb01ecfa000680921b69617687f5.png">
                    {{!-- <span class="card-title">Categories</span> --}}
                    <a href='/pizzacutter/dashboard/category'
                        class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Categories</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/login.js"></script>
</body>