<a href='/pizzacutter' class="btn-floating btn-large waves-effect waves-light red" id="home-button"><i
        class="material-icons large">queue_play_next</i></a>

<h1 class="dashboard-header">Restaurant Owner Dashboard</h1>

<div class="divider"></div>

<div class="row">
    <div class="col s4 dashboard-grid">
        <div class="col s12 m7">
            <h4>Menu Items and Products</h4>
            <a href='/pizzacutter/dashboard/product' class="btn-floating btn-large waves-effect waves-light red"
                id="product-button"><i class="material-icons">add</i></a>
        </div>
    </div>
    <div class="col s4 dashboard-grid">
        <div class="col s12 m7">
            <h4>Categories</h4>
            <a href='/pizzacutter/dashboard/category' class="btn-floating btn-large waves-effect waves-light red"
                id="category-button"><i class="material-icons">add</i></a>
        </div>
    </div>
    <div class="col s4 dashboard-grid">
        <div class="col s12 m7">
            <h4>Extras</h4>
            <a href='/pizzacutter/dashboard/extra' class="btn-floating btn-large waves-effect waves-light red"
                id="extra-button"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>

{{!-- <div class="row"> --}}
    {{!-- <div class="col s6 dashboard-grid">
        <div class="col s12 m7">
            <h4>Product Add Ons</h4>
            <a href='/pizzacutter/dashboard/productAddOn' class="btn-floating btn-large waves-effect waves-light red"
                id="productAddOn-button"><i class="material-icons">add</i></a>
        </div>
    </div> --}}

</div>