body {
    background: #ffffff
}


/*Owner Dashboard*/

.dashboard-header {
    text-align: center;
}

.dashboard-grid {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0 auto;
}

#home-button,
#new-product-btn,
#save-button {
    float: right;
}

.table-items {
    width: 70%;
    padding-right: 20%;
}

.delete-button {
    float: right
}

/*Customer Home Page*/



/* Navbar*/



/* Login */


