/*Customer Pages*/

.home-customer {
    background: black;
    color: #ffffff;
}

.title {
    font-family: 'Saira Stencil One', cursive;
    letter-spacing: 2px;
    font-weight: 750;
    margin-top: 2%;
    margin-left: 2%;
    padding: 0;
    line-height: 1;
    font-size: 5vw;

    @media (max-width: 400px) {
        font-size: 22px;
    }

    @media (min-width: 1200px) {
        font-size: 75px;
    }
}

#pizza-img-container1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    margin-top: 1%;
}

.pizza {
    width: 25%;
    padding: 0%;
    margin: auto;
}

#jack-jim-img {
    float: right;
}

.home-text {
    text-align: center;
    font-family: 'Saira Stencil One', cursive;
    letter-spacing: 2px;
    margin-top: 8%;
}


#delivery-button {
    margin-top: 5%;
    padding: 0 30px;
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 10%;

}

#call-button {
    margin-top: 5%;
    padding: 0 30px;
    font-size: 24px;
    letter-spacing: 3px;
    margin-right: 10%;
}

.pages-style {
    background: #3C3636;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 16pt;
}

.about-section {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    letter-spacing: 1px;
}

#adjust-about-p {
    margin-top: 11%;
}

/* .input-field input[type=email]:focus+label {
    color: rgb(240, 219, 219);
} */

.input-field .prefix.active {
    color: rgb(202, 65, 65);
}

.login-form {
    margin-left: 6%;
    margin-top: 2%;
}

.login-link {
    color: #ffffff !important;
}


footer {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background: #3a3236;
    padding: 1%;
    font-size: 8pt;
    letter-spacing: 2px;
    margin-bottom: 0%;
}


/* Navigation*/
.nav_bar {
    background-color: #303032;

}

.brand-logo,
.logo-img {
    height: 10vh;
    position: absolute;

}

/* Login */

/*Menu and Catering Tabs*/

/*Owner Dashboard*/

.dashboard-header {
    text-align: center;
    font-family: 'Bungee', cursive;
    color: #ffffff;
}

.dashboard {
    font-family: 'Open Sans', sans-serif;
    background: #3a3236;
    color: #ffffff;
}

.dashboard-grid {
    margin-top: 5%;
    font-family: 'Bungee', cursive;
    color: #cb4108;
}

#dashboard-card {
    /* padding-left: 5%;
    padding-right: 0%; */
}

#home-button,
#new-product-btn,
#save-button {
    float: right;
}

.table-items {
    width: 70%;
    padding-right: 20%;
}

.delete-button,
.edit-button {
    float: left
}

.delete-button-category {
    float: right;
}

#save-cat-header {
    font-family: 'Bungee', cursive;
}

.category-table-items {
    margin-left: 50%;
    font-size: 20pt;
    color: #ff4f09c5;
    /* margin-right: 10%; */
}