/*Customer Pages*/

.home-customer {
    background: black;
    color: #ffffff;
}

.title {
    font-weight: 700;
    margin: 0 0 1rem;
    line-height: 1;
    font-size: 3vw;

    @media (max-width: 400px) {
        font-size: 22px;
    }

    @media (min-width: 1200px) {
        font-size: 75px;
    }
}

#pizza-img-container1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    margin-top: 1%;
}

.pizza {
    width: 25%;
    padding: 0%;
    margin: auto;
}

.home-text {
    text-align: center;
    font-family: 'Saira Stencil One', cursive;
    letter-spacing: 2px;
    margin-top: 8%;
}


#delivery-button {
    margin-top: 5%;
    padding: 0 30px;
    font-size: 24px;
    letter-spacing: 3px;
    margin-left: 10%;

}

#call-button {
    margin-top: 5%;
    padding: 0 30px;
    font-size: 24px;
    letter-spacing: 3px;
    margin-right: 10%;
}

footer {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background: #3a3236;
    padding: 1%;
    font-size: 8pt;
    letter-spacing: 2px;
    margin-bottom: 0%;
}


/* Navigation*/
.nav_bar {
    background-color: #303032;

}

.brand-logo,
.logo-img {
    height: 10vh;
    position: absolute;

}

.container {
    display: inline-block; 
    width: 100%;
    margin-left: 10em;
    margin-right: 10em;   
}

#login-page {
    margin: auto;
}
.card-panel {
    margin: auto;
}

/* Menu and Catering Tabs*/
.catering_text{
    font-size: 25px;
}

/*Owner Dashboard*/

.dashboard-header {
    text-align: center;
    font-family: 'Bungee', cursive;
    color: #ffffff;
}

.dashboard {
    font-family: 'Open Sans', sans-serif;
    background: #3a3236;
    color: #ffffff;
}

.dashboard-grid {
    margin-top: 5%;
    font-family: 'Bungee', cursive;
    color: #cb4108;
}

#dashboard-card {
    /* padding-left: 5%;
    padding-right: 0%; */
}

#home-button,
#new-product-btn,
#save-button {
    float: right;
}

.table-items {
    width: 70%;
    padding-right: 20%;
}

.delete-button,
.edit-button {
    float: left
}

.catering_box{
    background-color: #303032;
    color: white;
}