{{!-- {{#> nav/dashboard-nav}} --}}
{{!-- {{#> nav/customer-nav}} --}}

<h1>Categories</h1>

<div class="divider"></div>
<div class="section">

    <div class="row">
        <form class="col s12" id="category-input">
            <div class="row">
                <div class="input-field col s12">
                    <input id="category-name" type="text">
                    <label for="category-name">Add New Category</label>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="divider"></div>

<table class="highlight">
    <thead>
        <tr>
            <th>Saved Categories</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
        <tr>
            <td>{{name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>