<div class="row">
    <div class="col s6 back-button">
        <a href='/pizzacutter/dashboard/' class="btn-floating btn-large waves-effect waves-light red"><i
                class="material-icons large">chevron_left</i></a>
    </div>
    <div class="col s6">
        <a href='/pizzacutter' class="btn-floating btn-large waves-effect waves-light red" id="home-button"><i
                class="material-icons large">queue_play_next</i></a>
    </div>
</div>

<h1 class="dashboard-header"></h1>Extras</h1>

<div class="divider"></div>
<div class="section">

    <div class="row">
        <form class="col s12" id="extra-input">
            <div class="row">
                <div class="input-field col s12">
                    <input id="extra-name" type="text">
                    <label for="extra-name">Add New Extra Item</label>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="divider"></div>

<table class="highlight">
    <thead>
        <tr>
            <th>Saved Extras</th>
        </tr>
    </thead>
    <tbody>
        {{#each extras}}
        <tr>
            <td>{{name}} <a class="waves-effect waves-light btn delete-button"><i class="material-icons" id="delete-btn"
                        data-id={{id}}>delete</i></a></td>
        </tr>
        {{/each}}
    </tbody>
</table>