<div class="row">
    <div class="col s4 back-button">
        <a href='/pizzacutter/dashboard/product' class="btn-floating btn-large waves-effect waves-light red"><i
                class="material-icons large">chevron_left</i></a>
    </div>
    <div class="col s4">
        <a class="waves-effect waves-light btn delete-button"><i class="material-icons" id="delete-btn"
                data-id={{id}}>delete</i></a>
    </div>
    <div class="col s4">
        <a href='/pizzacutter' class="btn-floating btn-large waves-effect waves-light green" id="home-button"><i
                class="material-icons large">save</i></a>
    </div>
</div>


<h1 class="dashboard-header">Add or Update Products</h1>

<div class="divider"></div>
<div class="section">
    <div class="row">
        <form class="col s12" id="category-input">
            <div class="row">
                <div class="input-field col s12">
                    <input id="category-name" type="text">
                    <label for="category-name">Add New Category</label>
                </div>
            </div>
        </form>
    </div>
</div>